 body {
            background-color: #121212;
            /* Spotify black background color */
            color: #fff;
            /* Spotify white text color */
        }

        h1 {
            color: #82b91d;
            /* Spotify green heading color */
        }

        h2 {
            color: #07fd5d;
            /* Spotify green heading color */
        }

        .text-indigo-500 {
            color: #1DB954;
            /* Spotify green link color */
        }

        .text-indigo-500:hover {
            color: #68D391;
            /* Spotify lighter green link color on hover */
        }